![SimpleImage-LancasterUniversitylogo.png]()

# SCC.454 Lab 0 - Introduction to Python, NumPy, Pandas, and Scikit-learn

**Estimated Duration: 1 hour**

This lab provides a comprehensive refresher on fundamental Python programming concepts and essential data science libraries. By the end of this session, you will be comfortable with core Python syntax, data manipulation with NumPy and Pandas, and basic machine learning workflows with Scikit-learn.

## Table of Contents

1. **Part 1: Python Refresher** (15 minutes)
   - Variables and Data Types
   - Control Flow (Conditionals and Loops)
   - Functions
   - List Comprehensions
   - Working with Strings

2. **Part 2: NumPy Basics** (15 minutes)
   - Creating Arrays
   - Array Operations
   - Indexing and Slicing
   - Statistical Functions
   - Reshaping and Broadcasting

3. **Part 3: Pandas Basics** (15 minutes)
   - Series and DataFrames
   - Reading and Writing Data
   - Data Selection and Filtering
   - Data Manipulation
   - Handling Missing Data

4. **Part 4: Scikit-learn Basics** (15 minutes)
   - The Machine Learning Workflow
   - Loading Datasets
   - Train-Test Split
   - Building and Training Models
   - Model Evaluation

---
# Part 1: Python Refresher
---

Python is a versatile, high-level programming language known for its readable syntax and extensive library ecosystem. This section covers the essential building blocks you will use throughout data science and machine learning projects.

## 1.1 Variables and Data Types

Python is dynamically typed, meaning you do not need to declare variable types explicitly. The interpreter determines the type based on the value assigned.

The four basic data types are:
- **Integer**: whole numbers without decimal points
- **Float**: numbers with decimal points
- **String**: sequence of characters enclosed in quotes
- **Boolean**: represents True or False values

In [1]:
age = 25
print(f"age = {age}, type: {type(age)}")

temperature = 36.6
print(f"temperature = {temperature}, type: {type(temperature)}")

name = "Alice"
print(f"name = {name}, type: {type(name)}")

is_student = True
print(f"is_student = {is_student}, type: {type(is_student)}")

age = 25, type: <class 'int'>
temperature = 36.6, type: <class 'float'>
name = Alice, type: <class 'str'>
is_student = True, type: <class 'bool'>

### Container Data Types

Python provides several built-in container types for storing collections of data.

**Lists** are ordered, mutable collections that can contain mixed types. Lists are defined using square brackets `[]`. You can access elements by index (0-based), and negative indexing starts from the end.

In [2]:
fruits = ["apple", "banana", "cherry"]
print(f"List: {fruits}")
print(f"First element: {fruits[0]}")
print(f"Last element: {fruits[-1]}")

fruits.append("date")
print(f"After append: {fruits}")
fruits.remove("banana")
print(f"After remove: {fruits}")

List: ['apple', 'banana', 'cherry']
First element: apple
Last element: cherry
After append: ['apple', 'banana', 'cherry', 'date']
After remove: ['apple', 'cherry', 'date']

**Tuples** are ordered, immutable collections defined using parentheses `()`. Once created, elements cannot be changed. Tuples are often used for returning multiple values from functions and for data that should not be modified.

In [3]:
coordinates = (10.5, 20.3)
print(f"Tuple: {coordinates}")
print(f"X coordinate: {coordinates[0]}")

Tuple: (10.5, 20.3)
X coordinate: 10.5

**Dictionaries** are unordered collections of key-value pairs defined using curly braces `{}` with `key:value` syntax. You can access values by their keys and easily add or modify entries.

In [4]:
student = {
    "name": "Bob",
    "age": 22,
    "grades": [85, 90, 78]
}
print(f"Dictionary: {student}")
print(f"Name: {student['name']}")

student["major"] = "Computer Science"
student["age"] = 23
print(f"Updated dictionary: {student}")

print(f"Keys: {list(student.keys())}")
print(f"Values: {list(student.values())}")

Dictionary: {'name': 'Bob', 'age': 22, 'grades': [85, 90, 78]}
Name: Bob
Updated dictionary: {'name': 'Bob', 'age': 23, 'grades': [85, 90, 78], 'major': 'Computer Science'}
Keys: ['name', 'age', 'grades', 'major']
Values: ['Bob', 23, [85, 90, 78], 'Computer Science']

**Sets** are unordered collections of unique elements defined using curly braces `{}` or `set()`. Duplicates are automatically removed. Sets are useful for membership testing and removing duplicates from sequences.

In [5]:
numbers = {1, 2, 3, 2, 1, 4}
print(f"Set: {numbers}")

print(f"Is 3 in the set? {3 in numbers}")
print(f"Is 5 in the set? {5 in numbers}")

set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(f"Union: {set_a | set_b}")
print(f"Intersection: {set_a & set_b}")

Set: {1, 2, 3, 4}
Is 3 in the set? True
Is 5 in the set? False
Union: {1, 2, 3, 4, 5}
Intersection: {3}

## 1.2 Control Flow

Control flow statements allow you to execute code conditionally or repeatedly.

### If-elif-else Statements

Python uses indentation (4 spaces) to define code blocks. The `if-elif-else` structure allows you to execute different code based on conditions.

In [6]:
score = 75

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"Score: {score}, Grade: {grade}")

Score: 75, Grade: C

### For Loops

For loops iterate over sequences. The `range()` function generates a sequence of numbers. For example, `range(5)` generates: 0, 1, 2, 3, 4. You can use `enumerate()` to get both the index and value when iterating.

In [7]:
print("Counting from 0 to 4:")
for i in range(5):
    print(i, end=" ")
print()

print("\nIterating over fruits:")
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(f"I like {fruit}")

print("\nWith index:")
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

Counting from 0 to 4:
0 1 2 3 4

Iterating over fruits:
I like apple
I like banana
I like cherry

With index:
0: apple
1: banana
2: cherry

### While Loops

While loops repeat while a condition is True. Be careful to ensure the condition eventually becomes False to avoid infinite loops. The `break` statement exits the loop early, and `continue` skips to the next iteration.

In [8]:
count = 0
print("Counting with while loop:")
while count < 5:
    print(count, end=" ")
    count += 1
print()

print("\nUsing break to exit early:")
for i in range(10):
    if i == 5:
        break
    print(i, end=" ")
print()

print("\nUsing continue to skip iterations:")
for i in range(10):
    if i % 2 == 0:
        continue
    print(i, end=" ")
print()

Counting with while loop:
0 1 2 3 4

Using break to exit early:
0 1 2 3 4

Using continue to skip iterations:
1 3 5 7 9

## 1.3 Functions

Functions are reusable blocks of code that perform specific tasks. They help organize code and avoid repetition. The `def` keyword is used to define a function, and parameters are specified in parentheses. The text between triple quotes is called a docstring and describes what the function does.

In [9]:
def greet(name):
    """This function greets the person passed as parameter."""
    return f"Hello, {name}!"

message = greet("Alice")
print(message)

Hello, Alice!

### Functions with Default Parameters

Default values are used when arguments are not provided during the function call.

In [10]:
def power(base, exponent=2):
    """Calculate base raised to the power of exponent."""
    return base ** exponent

print(f"power(3): {power(3)}")
print(f"power(3, 3): {power(3, 3)}")
print(f"power(2, 10): {power(2, 10)}")

power(3): 9
power(3, 3): 27
power(2, 10): 1024

### Functions Returning Multiple Values

Python functions can return multiple values as a tuple, which can be unpacked into separate variables.

In [11]:
def get_statistics(numbers):
    """Calculate basic statistics for a list of numbers."""
    minimum = min(numbers)
    maximum = max(numbers)
    mean = sum(numbers) / len(numbers)
    return minimum, maximum, mean

data = [4, 8, 15, 16, 23, 42]
min_val, max_val, avg_val = get_statistics(data)
print(f"Data: {data}")
print(f"Minimum: {min_val}, Maximum: {max_val}, Mean: {avg_val:.2f}")

Data: [4, 8, 15, 16, 23, 42]
Minimum: 4, Maximum: 42, Mean: 18.00

### Lambda Functions

Lambda functions are anonymous, single-expression functions. They are useful for short operations, especially with `map`, `filter`, and `sorted`.

In [12]:
def square(x):
    return x ** 2

square_lambda = lambda x: x ** 2

print(f"square(5): {square(5)}")
print(f"square_lambda(5): {square_lambda(5)}")

students = [("Alice", 85), ("Bob", 92), ("Charlie", 78)]
sorted_students = sorted(students, key=lambda x: x[1], reverse=True)
print(f"\nStudents sorted by grade: {sorted_students}")

square(5): 25
square_lambda(5): 25

Students sorted by grade: [('Bob', 92), ('Alice', 85), ('Charlie', 78)]

## 1.4 List Comprehensions

List comprehensions provide a concise way to create lists. They are more readable and often faster than using loops. The syntax is: `[expression for item in iterable]`

In [13]:
squares_loop = []
for x in range(10):
    squares_loop.append(x ** 2)
print(f"Using loop: {squares_loop}")

squares_comp = [x ** 2 for x in range(10)]
print(f"Using comprehension: {squares_comp}")

Using loop: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Using comprehension: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension with Condition

You can add a condition to filter elements. The syntax is: `[expression for item in iterable if condition]`

In [14]:
evens = [x for x in range(20) if x % 2 == 0]
print(f"Even numbers: {evens}")

even_squares = [x ** 2 for x in range(10) if x % 2 == 0]
print(f"Squares of even numbers: {even_squares}")

Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Squares of even numbers: [0, 4, 16, 36, 64]

### Dictionary Comprehension

Similar syntax can be used to create dictionaries: `{key_expr: value_expr for item in iterable}`

In [15]:
square_dict = {x: x ** 2 for x in range(6)}
print(f"Square dictionary: {square_dict}")

pairs = [("a", 1), ("b", 2), ("c", 3)]
pair_dict = {key: value for key, value in pairs}
print(f"Pair dictionary: {pair_dict}")

Square dictionary: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
Pair dictionary: {'a': 1, 'b': 2, 'c': 3}

## 1.5 Working with Strings

String manipulation is essential for data preprocessing and text processing tasks. Python strings have many built-in methods for common operations.

In [16]:
text = "  Hello, World!  "

print(f"Original: '{text}'")
print(f"strip(): '{text.strip()}'")
print(f"lower(): '{text.lower()}'")
print(f"upper(): '{text.upper()}'")
print(f"replace(): '{text.replace('World', 'Python')}'")

Original: '  Hello, World!  '
strip(): 'Hello, World!'
lower(): '  hello, world!  '
upper(): '  HELLO, WORLD!  '
replace(): '  Hello, Python!  '

### Splitting and Joining Strings

The `split()` method divides a string into a list of substrings, and `join()` combines a list of strings into one string with a specified separator.

In [17]:
sentence = "Python is a great programming language"

words = sentence.split()
print(f"Original: {sentence}")
print(f"Split: {words}")

rejoined = "-".join(words)
print(f"Joined with hyphens: {rejoined}")

csv_line = "apple,banana,cherry,date"
items = csv_line.split(",")
print(f"CSV split: {items}")

Original: Python is a great programming language
Split: ['Python', 'is', 'a', 'great', 'programming', 'language']
Joined with hyphens: Python-is-a-great-programming-language
CSV split: ['apple', 'banana', 'cherry', 'date']

### String Formatting with f-strings

f-strings (formatted string literals) were introduced in Python 3.6 and are the recommended approach for string formatting. They allow you to embed expressions inside string literals using `{}`.

In [18]:
name = "Alice"
age = 25
height = 1.65

print(f"Name: {name}, Age: {age}")
print(f"Height: {height:.2f} meters")
print(f"Age in hex: {age:#x}")
print(f"Age next year: {age + 1}")
print(f"Name uppercase: {name.upper()}")

print(f"'{name:>10}'")
print(f"'{name:<10}'")
print(f"'{name:^10}'")

Name: Alice, Age: 25
Height: 1.65 meters
Age in hex: 0x19
Age next year: 26
Name uppercase: ALICE
'     Alice'
'Alice     '
'  Alice   '

## Exercise 1: Python Basics

Complete the following tasks to practice what you have learned.

**Task 1.1:** Write a function called `fizzbuzz` that takes a number n and returns:
- "FizzBuzz" if n is divisible by both 3 and 5
- "Fizz" if n is divisible by 3 only
- "Buzz" if n is divisible by 5 only
- The number itself as a string otherwise

Then use a list comprehension to apply this function to numbers 1 through 20.

In [19]:
# Your code here
def fizzbuzz(n):
    if n % 3 == 0 and n % 5 == 0:
        return "FizzBuzz"
    elif n % 3 == 0:
        return "Fizz"
    elif n % 5 == 0:
        return "Buzz"
    else:
        return str(n)


print(fizzbuzz(15))

FizzBuzz

**Task 1.2:** Given the following list of dictionaries representing students, write code to:
1. Find the student with the highest grade
2. Calculate the average grade
3. Create a list of names of students who passed (grade >= 60)

In [20]:
students = [
    {"name": "Alice", "grade": 85},
    {"name": "Bob", "grade": 72},
    {"name": "Charlie", "grade": 55},
    {"name": "Diana", "grade": 91},
    {"name": "Eve", "grade": 68}
]

# Your code here
def highest_grade(students):
    highest_grade = 0

    for student in students:
        if student["grade"] > highest_grade:
            highest_grade = student["grade"]

    return highest_grade

def average_grade(students):
    total_grade = 0
    num_students = len(students)

    for student in students:
        total_grade += student["grade"]
    
    return total_grade/num_students

def passed_students(students):
    pass_list = []

    for student in students:
        if student["grade"] >= 60:
            pass_list.append(student["name"])
    
    return pass_list

print(highest_grade(students))
print(average_grade(students))
print(passed_students(students))

91
74.2
['Alice', 'Bob', 'Diana', 'Eve']

---
# Part 2: NumPy Basics
---

NumPy (Numerical Python) is the fundamental library for scientific computing in Python. It provides support for large, multi-dimensional arrays and matrices, along with a collection of mathematical functions to operate on these arrays efficiently.

The convention is to import numpy as `np` for shorter code.

In [21]:
import numpy as np

print(f"NumPy version: {np.__version__}")

NumPy version: 2.4.1

## 2.1 Creating Arrays

NumPy arrays are more efficient than Python lists for numerical operations because they store data in contiguous memory and use optimized C code for operations.

### Creating Arrays from Python Lists

The `np.array()` function converts a Python list to a NumPy array. The `shape` attribute shows dimensions, and `dtype` shows the data type (NumPy arrays have uniform data types).

In [22]:
arr_1d = np.array([1, 2, 3, 4, 5])
print(f"1D array: {arr_1d}")
print(f"Shape: {arr_1d.shape}")
print(f"Data type: {arr_1d.dtype}")

arr_2d = np.array([[1, 2, 3], [4, 5, 6]])
print(f"\n2D array:\n{arr_2d}")
print(f"Shape: {arr_2d.shape}")

1D array: [1 2 3 4 5]
Shape: (5,)
Data type: int64

2D array:
[[1 2 3]
 [4 5 6]]
Shape: (2, 3)

### Useful Array Creation Functions

NumPy provides several functions for creating arrays with specific values:
- `zeros()`: creates array filled with zeros
- `ones()`: creates array filled with ones
- `full()`: creates array filled with a specific value
- `eye()`: creates identity matrix (1s on diagonal, 0s elsewhere)

In [23]:
zeros = np.zeros((3, 4))
print(f"Zeros (3x4):\n{zeros}")

ones = np.ones((2, 3))
print(f"\nOnes (2x3):\n{ones}")

full = np.full((2, 2), 7)
print(f"\nFull (2x2) with 7:\n{full}")

identity = np.eye(3)
print(f"\nIdentity matrix (3x3):\n{identity}")

Zeros (3x4):
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

Ones (2x3):
[[1. 1. 1.]
 [1. 1. 1.]]

Full (2x2) with 7:
[[7 7]
 [7 7]]

Identity matrix (3x3):
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

### Generating Sequences

- `arange(start, stop, step)`: like Python's `range()` but returns an array
- `linspace(start, stop, num)`: creates evenly spaced numbers over an interval
- Random arrays can be created using functions from `np.random`

In [24]:
arr_range = np.arange(0, 10, 2)
print(f"arange(0, 10, 2): {arr_range}")

arr_linspace = np.linspace(0, 1, 5)
print(f"linspace(0, 1, 5): {arr_linspace}")

np.random.seed(42)
random_uniform = np.random.rand(3, 3)
print(f"\nRandom uniform (3x3):\n{random_uniform}")

random_normal = np.random.randn(3, 3)
print(f"\nRandom normal (3x3):\n{random_normal}")

random_int = np.random.randint(1, 10, size=(3, 3))
print(f"\nRandom integers 1-9 (3x3):\n{random_int}")

arange(0, 10, 2): [0 2 4 6 8]
linspace(0, 1, 5): [0.   0.25 0.5  0.75 1.  ]

Random uniform (3x3):
[[0.37454012 0.95071431 0.73199394]
 [0.59865848 0.15601864 0.15599452]
 [0.05808361 0.86617615 0.60111501]]

Random normal (3x3):
[[-0.58087813 -0.52516981 -0.57138017]
 [-0.92408284 -2.61254901  0.95036968]
 [ 0.81644508 -1.523876   -0.42804606]]

Random integers 1-9 (3x3):
[[3 7 4]
 [9 3 5]
 [3 7 5]]

## 2.2 Array Operations

NumPy operations are element-wise by default, making it easy to perform mathematical operations on entire arrays without explicit loops.

In [25]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])

print(f"a = {a}")
print(f"b = {b}")
print(f"\na + b = {a + b}")
print(f"a - b = {a - b}")
print(f"a * b = {a * b}")
print(f"a / b = {a / b}")
print(f"a ** 2 = {a ** 2}")

a = [1 2 3 4]
b = [5 6 7 8]

a + b = [ 6  8 10 12]
a - b = [-4 -4 -4 -4]
a * b = [ 5 12 21 32]
a / b = [0.2        0.33333333 0.42857143 0.5       ]
a ** 2 = [ 1  4  9 16]

### Mathematical Functions

NumPy provides many mathematical functions that operate element-wise on arrays.

In [26]:
x = np.array([0, np.pi/6, np.pi/4, np.pi/3, np.pi/2])
print(f"x (in radians): {x}")
print(f"sin(x): {np.sin(x)}")
print(f"cos(x): {np.cos(x)}")

y = np.array([1, 10, 100, 1000])
print(f"\ny: {y}")
print(f"log10(y): {np.log10(y)}")
print(f"log(y): {np.log(y)}")
print(f"sqrt(y): {np.sqrt(y)}")

x (in radians): [0.         0.52359878 0.78539816 1.04719755 1.57079633]
sin(x): [0.         0.5        0.70710678 0.8660254  1.        ]
cos(x): [1.00000000e+00 8.66025404e-01 7.07106781e-01 5.00000000e-01
 6.12323400e-17]

y: [   1   10  100 1000]
log10(y): [0. 1. 2. 3.]
log(y): [0.         2.30258509 4.60517019 6.90775528]
sqrt(y): [ 1.          3.16227766 10.         31.6227766 ]

### Matrix Operations

Matrix multiplication uses the `@` operator or `np.dot()`. Note that `*` performs element-wise multiplication, not matrix multiplication. The `.T` attribute returns the transpose of a matrix.

In [27]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])

print(f"Matrix A:\n{A}")
print(f"\nMatrix B:\n{B}")

print(f"\nA @ B (matrix multiplication):\n{A @ B}")
print(f"\nnp.dot(A, B):\n{np.dot(A, B)}")
print(f"\nA * B (element-wise, NOT matrix multiplication):\n{A * B}")
print(f"\nA transposed:\n{A.T}")

Matrix A:
[[1 2]
 [3 4]]

Matrix B:
[[5 6]
 [7 8]]

A @ B (matrix multiplication):
[[19 22]
 [43 50]]

np.dot(A, B):
[[19 22]
 [43 50]]

A * B (element-wise, NOT matrix multiplication):
[[ 5 12]
 [21 32]]

A transposed:
[[1 3]
 [2 4]]

## 2.3 Indexing and Slicing

NumPy provides powerful indexing and slicing capabilities for accessing and modifying array elements.

In [28]:
arr = np.array([10, 20, 30, 40, 50])
print(f"Array: {arr}")
print(f"arr[0]: {arr[0]}")
print(f"arr[-1]: {arr[-1]}")
print(f"arr[1:4]: {arr[1:4]}")
print(f"arr[::2]: {arr[::2]}")

Array: [10 20 30 40 50]
arr[0]: 10
arr[-1]: 50
arr[1:4]: [20 30 40]
arr[::2]: [10 30 50]

### 2D Array Indexing

For 2D arrays, use `matrix[row, column]` to access elements. Use `:` to select all elements along an axis.

In [29]:
matrix = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12]])
print(f"Matrix:\n{matrix}")
print(f"Shape: {matrix.shape}")

print(f"\nmatrix[0, 0]: {matrix[0, 0]}")
print(f"matrix[1, 2]: {matrix[1, 2]}")

print(f"\nFirst row: {matrix[0]}")
print(f"Second column: {matrix[:, 1]}")
print(f"Last two columns: \n{matrix[:, 2:]}")

Matrix:
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
Shape: (3, 4)

matrix[0, 0]: 1
matrix[1, 2]: 7

First row: [1 2 3 4]
Second column: [ 2  6 10]
Last two columns:
[[ 3  4]
 [ 7  8]
 [11 12]]

### Boolean Indexing (Filtering)

Boolean indexing is very useful for data selection based on conditions. You can create a boolean mask and use it to filter array elements. For combined conditions, use `&` (and), `|` (or), `~` (not), with parentheses around each condition.

In [30]:
arr = np.array([1, 5, 2, 8, 3, 9, 4, 7])
print(f"Array: {arr}")

mask = arr > 5
print(f"arr > 5: {mask}")
print(f"Elements > 5: {arr[mask]}")
print(f"Elements > 2 and < 8: {arr[(arr > 2) & (arr < 8)]}")

Array: [1 5 2 8 3 9 4 7]
arr > 5: [False False False  True False  True False  True]
Elements > 5: [8 9 7]
Elements > 2 and < 8: [5 3 4 7]

## 2.4 Statistical Functions

NumPy provides functions for computing statistics on arrays, which are essential for data analysis.

In [31]:
data = np.array([14, 23, 8, 45, 12, 33, 27, 19, 38, 21])
print(f"Data: {data}")

print(f"\nSum: {np.sum(data)}")
print(f"Mean: {np.mean(data)}")
print(f"Median: {np.median(data)}")
print(f"Standard deviation: {np.std(data):.2f}")
print(f"Variance: {np.var(data):.2f}")
print(f"Min: {np.min(data)}, Max: {np.max(data)}")
print(f"Index of min: {np.argmin(data)}, Index of max: {np.argmax(data)}")

Data: [14 23  8 45 12 33 27 19 38 21]

Sum: 240
Mean: 24.0
Median: 22.0
Standard deviation: 11.23
Variance: 126.20
Min: 8, Max: 45
Index of min: 2, Index of max: 3

### Operations Along Axes

For 2D arrays, `axis=0` operates along columns (down), and `axis=1` operates along rows (across).

In [32]:
matrix = np.array([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])
print(f"Matrix:\n{matrix}")

print(f"\nSum of all elements: {np.sum(matrix)}")
print(f"Sum along axis=0 (column sums): {np.sum(matrix, axis=0)}")
print(f"Sum along axis=1 (row sums): {np.sum(matrix, axis=1)}")

print(f"\nMean of each column: {np.mean(matrix, axis=0)}")
print(f"Mean of each row: {np.mean(matrix, axis=1)}")

Matrix:
[[1 2 3]
 [4 5 6]
 [7 8 9]]

Sum of all elements: 45
Sum along axis=0 (column sums): [12 15 18]
Sum along axis=1 (row sums): [ 6 15 24]

Mean of each column: [4. 5. 6.]
Mean of each row: [2. 5. 8.]

## 2.5 Reshaping and Broadcasting

Reshaping allows you to change the dimensions of an array without changing its data. Use `-1` in one dimension to let NumPy calculate it automatically.

In [33]:
arr = np.arange(12)
print(f"Original array: {arr}")
print(f"Shape: {arr.shape}")

reshaped = arr.reshape(3, 4)
print(f"\nReshaped to (3, 4):\n{reshaped}")

reshaped2 = arr.reshape(4, 3)
print(f"\nReshaped to (4, 3):\n{reshaped2}")

reshaped3 = arr.reshape(2, -1)
print(f"\nReshaped to (2, -1):\n{reshaped3}")
print(f"Shape: {reshaped3.shape}")

Original array: [ 0  1  2  3  4  5  6  7  8  9 10 11]
Shape: (12,)

Reshaped to (3, 4):
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

Reshaped to (4, 3):
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

Reshaped to (2, -1):
[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]]
Shape: (2, 6)

### Flatten

Convert a multi-dimensional array to 1D using `flatten()` (returns a copy) or `ravel()` (returns a view when possible, more memory efficient).

In [34]:
matrix = np.array([[1, 2, 3], [4, 5, 6]])
print(f"Matrix:\n{matrix}")

flattened = matrix.flatten()
print(f"Flattened: {flattened}")

raveled = matrix.ravel()
print(f"Raveled: {raveled}")

Matrix:
[[1 2 3]
 [4 5 6]]
Flattened: [1 2 3 4 5 6]
Raveled: [1 2 3 4 5 6]

### Broadcasting

Broadcasting automatically expands smaller arrays to match larger ones during arithmetic operations. This allows operations between arrays of different shapes without explicit loops.

In [35]:
arr = np.array([1, 2, 3])
print(f"arr + 10 = {arr + 10}")

matrix = np.array([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])
row = np.array([10, 20, 30])

print(f"\nMatrix:\n{matrix}")
print(f"Row: {row}")
print(f"\nMatrix + row:\n{matrix + row}")

arr + 10 = [11 12 13]

Matrix:
[[1 2 3]
 [4 5 6]
 [7 8 9]]
Row: [10 20 30]

Matrix + row:
[[11 22 33]
 [14 25 36]
 [17 28 39]]

### Stacking Arrays

- `vstack()`: vertical stack (stack as rows)
- `hstack()`: horizontal stack (concatenate along axis)
- `concatenate()`: concatenate along a specified axis

In [36]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

vstacked = np.vstack([a, b])
print(f"Vertical stack:\n{vstacked}")

hstacked = np.hstack([a, b])
print(f"\nHorizontal stack: {hstacked}")

m1 = np.array([[1, 2], [3, 4]])
m2 = np.array([[5, 6], [7, 8]])
concat_rows = np.concatenate([m1, m2], axis=0)
concat_cols = np.concatenate([m1, m2], axis=1)
print(f"\nConcatenate along axis=0 (rows):\n{concat_rows}")
print(f"\nConcatenate along axis=1 (columns):\n{concat_cols}")

Vertical stack:
[[1 2 3]
 [4 5 6]]

Horizontal stack: [1 2 3 4 5 6]

Concatenate along axis=0 (rows):
[[1 2]
 [3 4]
 [5 6]
 [7 8]]

Concatenate along axis=1 (columns):
[[1 2 5 6]
 [3 4 7 8]]

## Exercise 2: NumPy

Complete the following tasks to practice NumPy operations.

**Task 2.1:** Create a 5x5 matrix with values from 1 to 25. Then:
1. Extract the diagonal elements
2. Calculate the sum of each row
3. Find all elements greater than 12
4. Replace all even numbers with 0

In [37]:
import numpy as np

#Create a 5x5 matrix with zero values
mat_5x5 = np.zeros((5,5))
num = 1

#Load the matrix with value from 1-25
for i in range(mat_5x5.shape[0]):
    for j in range(mat_5x5.shape[1]):
        mat_5x5[i][j] = num
        num+=1

#Extracting the diagonal elements
diag_elements = []
for i in range(mat_5x5.shape[0]):
    for j in range(mat_5x5.shape[1]):
        if i == j:
            diag_elements.append(int(mat_5x5[i][j]))
print(f"The diagonal elements are :{diag_elements}")

#Calculate sum of each row
sum_row = []
for i in range(mat_5x5.shape[0]):
    sum = 0
    for j in range(mat_5x5.shape[1]):
        sum += mat_5x5[i][j]
    sum_row.append(int(sum))
print(f"The sum of each of the rows of the matrix is: {sum_row}")

#Elements greater than 12
elem_12 = []
for i in range(mat_5x5.shape[0]):
    for j in range(mat_5x5.shape[1]):
        if mat_5x5[i][j] > 12:
            elem_12.append(int(mat_5x5[i][j]))
print(f"The elements greater than 12 are :{elem_12}")

#Replace all even number by 0
for i in range(mat_5x5.shape[0]):
    for j in range(mat_5x5.shape[1]):
        if mat_5x5[i][j] % 2 == 0:
            mat_5x5[i][j] = 0
print(f"The even number replaced by 0 matrix is: \n {mat_5x5}")

The diagonal elements are :[1, 7, 13, 19, 25]
The sum of each of the rows of the matrix is: [15, 40, 65, 90, 115]
The elements greater than 12 are :[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
The even number replaced by 0 matrix is:
 [[ 1.  0.  3.  0.  5.]
 [ 0.  7.  0.  9.  0.]
 [11.  0. 13.  0. 15.]
 [ 0. 17.  0. 19.  0.]
 [21.  0. 23.  0. 25.]]

**Task 2.2:** Generate 1000 random numbers from a normal distribution with mean=50 and standard deviation=10. Then calculate and print the actual mean, standard deviation, and the percentage of values within one standard deviation of the mean.

In [38]:
# Your code here
#Generate 1000 random number
mean = 50
std = 10
nums = np.random.normal(mean,std,1000)

#Mean
mean_val = nums.mean()
print(f"The mean value of the distribution is: {mean_val}")

#Standard Deviation
std_val = nums.std()
print(f"The standard deviation of the distribution is: {std_val}")

#Percetage Values
var_val = nums.var()
print(f"The variance of the distribution is: {var_val}")

The mean value of the distribution is: 50.37926939656737
The standard deviation of the distribution is: 10.288045033909796
The variance of the distribution is: 105.84387061975603

---
# Part 3: Pandas Basics
---

Pandas is a powerful library for data manipulation and analysis. It provides data structures like Series (1D) and DataFrame (2D) that make working with structured data intuitive and efficient.

The convention is to import pandas as `pd`.

In [39]:
import pandas as pd

print(f"Pandas version: {pd.__version__}")

Pandas version: 3.0.0

## 3.1 Series and DataFrames

A **Series** is a one-dimensional labeled array, like a column in a spreadsheet. A **DataFrame** is a two-dimensional labeled data structure with columns of potentially different types, like a spreadsheet or SQL table.

In [40]:
s = pd.Series([10, 20, 30, 40, 50])
print("Series from list:")
print(s)
print(f"\nIndex: {s.index.tolist()}")
print(f"Values: {s.values}")

Series from list:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Index: [0, 1, 2, 3, 4]
Values: [10 20 30 40 50]

### Series with Custom Index

You can specify custom labels for the index instead of the default integer indices.

In [41]:
temperatures = pd.Series(
    [22.5, 25.0, 21.3, 23.8, 24.2],
    index=["Mon", "Tue", "Wed", "Thu", "Fri"]
)
print("Temperature Series with custom index:")
print(temperatures)

print(f"\nTemperature on Monday: {temperatures['Mon']}")
print(f"Temperature on Wednesday: {temperatures.loc['Wed']}")

Temperature Series with custom index:
Mon    22.5
Tue    25.0
Wed    21.3
Thu    23.8
Fri    24.2
dtype: float64

Temperature on Monday: 22.5
Temperature on Wednesday: 21.3

### Creating a DataFrame

The most common way to create a DataFrame is from a dictionary, where keys become column names and values become column data.

In [42]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Eve"],
    "Age": [25, 30, 35, 28, 32],
    "City": ["London", "Paris", "Berlin", "Madrid", "Rome"],
    "Salary": [50000, 60000, 75000, 55000, 65000]
}

df = pd.DataFrame(data)
print("DataFrame from dictionary:")
print(df)

DataFrame from dictionary:
      Name  Age    City  Salary
0    Alice   25  London   50000
1      Bob   30   Paris   60000
2  Charlie   35  Berlin   75000
3    Diana   28  Madrid   55000
4      Eve   32    Rome   65000

### Basic DataFrame Information

Use `shape` to get dimensions, `columns` to get column names, `dtypes` to see data types, and `head(n)`/`tail(n)` to view the first/last n rows.

In [43]:
print(f"Shape: {df.shape}")
print(f"\nColumn names: {df.columns.tolist()}")
print(f"\nData types:\n{df.dtypes}")
print(f"\nFirst 2 rows:")
print(df.head(2))
print(f"\nLast 2 rows:")
print(df.tail(2))

Shape: (5, 4)

Column names: ['Name', 'Age', 'City', 'Salary']

Data types:
Name        str
Age       int64
City        str
Salary    int64
dtype: object

First 2 rows:
    Name  Age    City  Salary
0  Alice   25  London   50000
1    Bob   30   Paris   60000

Last 2 rows:
    Name  Age    City  Salary
3  Diana   28  Madrid   55000
4    Eve   32    Rome   65000

### Statistical Summary

The `describe()` method provides statistics for numerical columns including count, mean, standard deviation, min, max, and quartiles.

In [44]:
print("Statistical summary:")
print(df.describe())

Statistical summary:
             Age        Salary
count   5.000000      5.000000
mean   30.000000  61000.000000
std     3.807887   9617.692031
min    25.000000  50000.000000
25%    28.000000  55000.000000
50%    30.000000  60000.000000
75%    32.000000  65000.000000
max    35.000000  75000.000000

## 3.2 Reading and Writing Data

Pandas can read from and write to many file formats including CSV, Excel, JSON, and databases. Let's create a sample CSV file for demonstration.

In [45]:
sample_data = """student_id,name,math_score,english_score,science_score
1,Alice,85,90,88
2,Bob,72,68,75
3,Charlie,90,85,92
4,Diana,65,78,70
5,Eve,88,92,86
6,Frank,75,70,78
7,Grace,95,88,94
8,Henry,68,72,65
"""

with open("students.csv", "w") as f:
    f.write(sample_data)
print("Created students.csv file")

Created students.csv file

### Reading CSV Files

The `read_csv()` function is the most common way to load data from CSV files.

In [46]:
students_df = pd.read_csv("students.csv")
print("Data loaded from CSV:")
print(students_df)

Data loaded from CSV:
   student_id     name  math_score  english_score  science_score
0           1    Alice          85             90             88
1           2      Bob          72             68             75
2           3  Charlie          90             85             92
3           4    Diana          65             78             70
4           5      Eve          88             92             86
5           6    Frank          75             70             78
6           7    Grace          95             88             94
7           8    Henry          68             72             65

### Useful read_csv Parameters

Common parameters include:
- `index_col`: column to use as index
- `usecols`: specific columns to read
- `nrows`: number of rows to read
- `dtype`: specify data types for columns

In [47]:
students_indexed = pd.read_csv("students.csv", index_col="student_id")
print("With student_id as index:")
print(students_indexed.head())

With student_id as index:
               name  math_score  english_score  science_score
student_id
1             Alice          85             90             88
2               Bob          72             68             75
3           Charlie          90             85             92
4             Diana          65             78             70
5               Eve          88             92             86

### Writing DataFrames to Files

Use `to_csv()` to save a DataFrame to a CSV file. Set `index=False` to exclude row numbers from the output.

In [48]:
students_df.to_csv("students_output.csv", index=False)
print("Saved to students_output.csv")

Saved to students_output.csv

## 3.3 Data Selection and Filtering

Pandas provides multiple ways to select and filter data: by column names, row labels, positions, and conditions.

### Selecting Columns

Use square brackets with a column name for a single column (returns Series) or a list of names for multiple columns (returns DataFrame).

In [49]:
print("Original DataFrame:")
print(students_df)

print("\nSingle column (name):")
print(students_df["name"])

print("\nMultiple columns (name and math_score):")
print(students_df[["name", "math_score"]])

Original DataFrame:
   student_id     name  math_score  english_score  science_score
0           1    Alice          85             90             88
1           2      Bob          72             68             75
2           3  Charlie          90             85             92
3           4    Diana          65             78             70
4           5      Eve          88             92             86
5           6    Frank          75             70             78
6           7    Grace          95             88             94
7           8    Henry          68             72             65

Single column (name):
0      Alice
1        Bob
2    Charlie
3      Diana
4        Eve
5      Frank
6      Grace
7      Henry
Name: name, dtype: str

Multiple columns (name and math_score):
      name  math_score
0    Alice          85
1      Bob          72
2  Charlie          90
3    Diana          65
4      Eve          88
5    Frank          75
6    Grace          95
7    Henry          68

### Selecting Rows with .loc and .iloc

- `.loc`: selection by label (index value)
- `.iloc`: selection by integer position

In [50]:
print("Using .iloc (position-based):")
print(f"First row: {students_df.iloc[0].tolist()}")
print(f"Rows 1-3: \n{students_df.iloc[1:4]}")

students_named = students_df.set_index("name")
print("\nDataFrame with name index:")
print(students_named)

Using .iloc (position-based):
First row: [np.int64(1), 'Alice', np.int64(85), np.int64(90), np.int64(88)]
Rows 1-3:
   student_id     name  math_score  english_score  science_score
1           2      Bob          72             68             75
2           3  Charlie          90             85             92
3           4    Diana          65             78             70

DataFrame with name index:
         student_id  math_score  english_score  science_score
name
Alice             1          85             90             88
Bob               2          72             68             75
Charlie           3          90             85             92
Diana             4          65             78             70
Eve               5          88             92             86
Frank             6          75             70             78
Grace             7          95             88             94
Henry             8          68             72             65

### Using .loc for Label-based Selection

The `.loc` accessor allows selecting rows and columns by their labels.

In [51]:
print("Using .loc (label-based):")
print(f"Alice's data:\n{students_named.loc['Alice']}")

print(f"\nAlice's math score: {students_named.loc['Alice', 'math_score']}")

print(f"\nSelected students and scores:")
print(students_named.loc[["Alice", "Charlie", "Grace"], ["math_score", "science_score"]])

Using .loc (label-based):
Alice's data:
student_id        1
math_score       85
english_score    90
science_score    88
Name: Alice, dtype: int64

Alice's math score: 85

Selected students and scores:
         math_score  science_score
name
Alice            85             88
Charlie          90             92
Grace            95             94

### Boolean Filtering

Use conditions to filter rows. For multiple conditions, use `&` (and) and `|` (or), with each condition in parentheses.

In [52]:
print("Students with math_score > 80:")
print(students_df[students_df["math_score"] > 80])

print("\nStudents with math_score > 80 AND english_score > 85:")
high_achievers = students_df[(students_df["math_score"] > 80) & (students_df["english_score"] > 85)]
print(high_achievers)

Students with math_score > 80:
   student_id     name  math_score  english_score  science_score
0           1    Alice          85             90             88
2           3  Charlie          90             85             92
4           5      Eve          88             92             86
6           7    Grace          95             88             94

Students with math_score > 80 AND english_score > 85:
   student_id   name  math_score  english_score  science_score
0           1  Alice          85             90             88
4           5    Eve          88             92             86
6           7  Grace          95             88             94

### Using .query() for Filtering

The `query()` method provides a more readable syntax for complex conditions.

In [53]:
print("Using .query() method:")
result = students_df.query("math_score > 75 and english_score > 70")
print(result)

Using .query() method:
   student_id     name  math_score  english_score  science_score
0           1    Alice          85             90             88
2           3  Charlie          90             85             92
4           5      Eve          88             92             86
6           7    Grace          95             88             94

## 3.4 Data Manipulation

Pandas provides powerful tools for adding, modifying, and transforming data.

### Adding New Columns

You can add new columns by assigning values to a new column name. Create a copy first to avoid modifying the original DataFrame.

In [54]:
df = students_df.copy()

df["average_score"] = (df["math_score"] + df["english_score"] + df["science_score"]) / 3
print("DataFrame with average_score:")
print(df)

df["passed"] = df["average_score"] >= 70
print("\nDataFrame with passed column:")
print(df[["name", "average_score", "passed"]])

DataFrame with average_score:
   student_id     name  math_score  english_score  science_score  \
0           1    Alice          85             90             88
1           2      Bob          72             68             75
2           3  Charlie          90             85             92
3           4    Diana          65             78             70
4           5      Eve          88             92             86
5           6    Frank          75             70             78
6           7    Grace          95             88             94
7           8    Henry          68             72             65

   average_score
0      87.666667
1      71.666667
2      89.000000
3      71.000000
4      88.666667
5      74.333333
6      92.333333
7      68.333333

DataFrame with passed column:
      name  average_score  passed
0    Alice      87.666667    True
1      Bob      71.666667    True
2  Charlie      89.000000    True
3    Diana      71.000000    True
4      Eve      88.666667    True
5    Frank      74.333333    True
6    Grace      92.333333    True
7    Henry      68.333333   False

### Using apply() to Transform Data

The `apply()` method applies a function to each element, row, or column. It's useful for custom transformations.

In [55]:
def grade_category(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "F"

df["math_grade"] = df["math_score"].apply(grade_category)
print("With math_grade column:")
print(df[["name", "math_score", "math_grade"]])

With math_grade column:
      name  math_score math_grade
0    Alice          85          B
1      Bob          72          C
2  Charlie          90          A
3    Diana          65          D
4      Eve          88          B
5    Frank          75          C
6    Grace          95          A
7    Henry          68          D

### Sorting Data

Use `sort_values()` to sort by one or more columns. The `ascending` parameter controls sort order.

In [56]:
print("Sorted by average_score (descending):")
sorted_df = df.sort_values("average_score", ascending=False)
print(sorted_df[["name", "average_score"]])

print("\nSorted by passed, then average_score:")
sorted_multi = df.sort_values(["passed", "average_score"], ascending=[False, False])
print(sorted_multi[["name", "passed", "average_score"]])

Sorted by average_score (descending):
      name  average_score
6    Grace      92.333333
2  Charlie      89.000000
4      Eve      88.666667
0    Alice      87.666667
5    Frank      74.333333
1      Bob      71.666667
3    Diana      71.000000
7    Henry      68.333333

Sorted by passed, then average_score:
      name  passed  average_score
6    Grace    True      92.333333
2  Charlie    True      89.000000
4      Eve    True      88.666667
0    Alice    True      87.666667
5    Frank    True      74.333333
1      Bob    True      71.666667
3    Diana    True      71.000000
7    Henry   False      68.333333

### Grouping and Aggregation

The `groupby()` method splits data into groups based on column values and allows aggregate operations like mean, sum, count, etc.

In [57]:
grouped = df.groupby("passed")["average_score"].mean()
print("Average score by passed status:")
print(grouped)

print("\nMultiple statistics by passed status:")
agg_stats = df.groupby("passed")["average_score"].agg(["count", "mean", "min", "max"])
print(agg_stats)

Average score by passed status:
passed
False    68.333333
True     82.095238
Name: average_score, dtype: float64

Multiple statistics by passed status:
        count       mean        min        max
passed
False       1  68.333333  68.333333  68.333333
True        7  82.095238  71.000000  92.333333

## 3.5 Handling Missing Data

Real-world data often contains missing values. Pandas represents missing values as NaN (Not a Number) and provides tools to detect and handle them.

In [58]:
data_with_nan = {
    "A": [1, 2, np.nan, 4, 5],
    "B": [np.nan, 2, 3, np.nan, 5],
    "C": [1, 2, 3, 4, 5]
}
df_nan = pd.DataFrame(data_with_nan)
print("DataFrame with missing values:")
print(df_nan)

DataFrame with missing values:
     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  NaN  4
4  5.0  5.0  5

### Detecting Missing Values

Use `isna()` to create a boolean mask showing where values are missing, and `sum()` to count them.

In [59]:
print("isna() - True where values are missing:")
print(df_nan.isna())

print("\nCount of missing values per column:")
print(df_nan.isna().sum())

print(f"\nTotal missing values: {df_nan.isna().sum().sum()}")

isna() - True where values are missing:
       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
3  False   True  False
4  False  False  False

Count of missing values per column:
A    1
B    2
C    0
dtype: int64

Total missing values: 3

### Handling Missing Values

Common strategies include:
- `dropna()`: Remove rows with missing values
- `fillna(value)`: Replace missing values with a specific value

In [60]:
df_dropped = df_nan.dropna()
print("After dropna():")
print(df_dropped)

df_filled = df_nan.fillna(0)
print("\nAfter fillna(0):")
print(df_filled)

After dropna():
     A    B  C
1  2.0  2.0  2
4  5.0  5.0  5

After fillna(0):
     A    B  C
0  1.0  0.0  1
1  2.0  2.0  2
2  0.0  3.0  3
3  4.0  0.0  4
4  5.0  5.0  5

### Advanced Missing Value Handling

You can also fill with column statistics like mean, or use forward/backward fill to propagate values.

In [61]:
df_mean_filled = df_nan.fillna(df_nan.mean())
print("After filling with column means:")
print(df_mean_filled)

df_ffill = df_nan.ffill()
print("\nAfter forward fill:")
print(df_ffill)

After filling with column means:
     A         B  C
0  1.0  3.333333  1
1  2.0  2.000000  2
2  3.0  3.000000  3
3  4.0  3.333333  4
4  5.0  5.000000  5

After forward fill:
     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  2.0  3.0  3
3  4.0  3.0  4
4  5.0  5.0  5

## Exercise 3: Pandas

Complete the following tasks using the students DataFrame.

**Task 3.1:** Using the students_df DataFrame:
1. Add a column called "total_score" that sums all three subject scores
2. Add a column called "rank" that ranks students by total_score (1 = highest)
3. Create a new DataFrame containing only students who scored above average in all three subjects

In [62]:
# Your code here
import pandas as pd

#Add total_score column
df["total_score"] = (df["math_score"]+df["english_score"]+df["science_score"])

#Rank
df["rank"] = df["total_score"].rank(ascending=False, method="dense").astype(int)
print(f"The dataframe with total scores and rank: \n{df}")

#New datafram of only above average students
avg_score_math = df["math_score"].mean()
avg_score_english = df["english_score"].mean()
avg_score_science = df["science_score"].mean()
df2 = df[
    (df["math_score"] > avg_score_math) &
    (df["english_score"] > avg_score_english) &
    (df["science_score"] > avg_score_science)
]
print(f"\n\nThe dataframe with only above average scoes: \n{df2}")

The dataframe with total scores and rank:
   student_id     name  math_score  english_score  science_score  \
0           1    Alice          85             90             88
1           2      Bob          72             68             75
2           3  Charlie          90             85             92
3           4    Diana          65             78             70
4           5      Eve          88             92             86
5           6    Frank          75             70             78
6           7    Grace          95             88             94
7           8    Henry          68             72             65

   average_score  passed math_grade  total_score  rank
0      87.666667    True          B          263     4
1      71.666667    True          C          215     6
2      89.000000    True          A          267     2
3      71.000000    True          D          213     7
4      88.666667    True          B          266     3
5      74.333333    True          C          223     5
6      92.333333    True          A          277     1
7      68.333333   False          D          205     8


The dataframe with only above average scoes:
   student_id     name  math_score  english_score  science_score  \
0           1    Alice          85             90             88
2           3  Charlie          90             85             92
4           5      Eve          88             92             86
6           7    Grace          95             88             94

   average_score  passed math_grade  total_score  rank
0      87.666667    True          B          263     4
2      89.000000    True          A          267     2
4      88.666667    True          B          266     3
6      92.333333    True          A          277     1

**Task 3.2:** Calculate and display:
1. The correlation between math_score and science_score
2. The student(s) with the highest improvement potential (biggest difference between their best and worst subject)
3. The average score for each subject

In [63]:
# Your code here
#Correlation between math_score and science_score
correlation = df["math_score"].corr(df["science_score"])
print(f"Correlation between math_score and science_score: {correlation:.3f}")

#Highest imrpovement potential
df["improvement_potential"] = (
    df[["math_score", "english_score", "science_score"]].max(axis=1) -
    df[["math_score", "english_score", "science_score"]].min(axis=1)
)
max_improvement = df["improvement_potential"].max()
students_with_max_potential = df[
    df["improvement_potential"] == max_improvement
][["student_id", "name", "improvement_potential"]]
print("\nStudent(s) with the highest improvement potential:")
print(students_with_max_potential)

#Average score per subject
average_scores = df[["math_score", "english_score", "science_score"]].mean()
print("\nAverage score for each subject:")
print(average_scores)

Correlation between math_score and science_score: 0.967

Student(s) with the highest improvement potential:
   student_id   name  improvement_potential
3           4  Diana                     13

Average score for each subject:
math_score       79.750
english_score    80.375
science_score    81.000
dtype: float64

---
# Part 4: Scikit-learn Basics
---

Scikit-learn is the most popular machine learning library in Python. It provides simple and efficient tools for data mining, data analysis, and machine learning. This section covers the fundamental workflow for building and evaluating machine learning models.

In [64]:
import sklearn
print(f"Scikit-learn version: {sklearn.__version__}")

Scikit-learn version: 1.8.0

## 4.1 The Machine Learning Workflow

A typical machine learning workflow consists of:

1. **Load/Prepare Data**: Get your data and prepare it for modeling
2. **Split Data**: Divide into training and testing sets
3. **Preprocess**: Scale features, encode categories, handle missing values
4. **Train Model**: Fit the model to training data
5. **Evaluate**: Assess model performance on test data
6. **Tune**: Adjust hyperparameters to improve performance

## 4.2 Loading Datasets

Scikit-learn provides several built-in datasets for learning and experimentation. The Iris dataset contains measurements of 150 iris flowers from 3 species and is commonly used for classification tasks.

In [65]:
from sklearn.datasets import load_iris

iris = load_iris()

print(f"Dataset keys: {iris.keys()}")
print(f"\nFeature names: {iris.feature_names}")
print(f"Target names: {iris.target_names}")
print(f"\nData shape: {iris.data.shape}")
print(f"Target shape: {iris.target.shape}")

Dataset keys: dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

Feature names: ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
Target names: ['setosa' 'versicolor' 'virginica']

Data shape: (150, 4)
Target shape: (150,)

### Converting to Pandas DataFrame

Converting to a DataFrame makes it easier to explore and manipulate the data.

In [66]:
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df["species"] = iris.target
iris_df["species_name"] = iris_df["species"].map(dict(enumerate(iris.target_names)))

print("Iris dataset as DataFrame:")
print(iris_df.head(10))
print(f"\nClass distribution:\n{iris_df['species_name'].value_counts()}")

Iris dataset as DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

   species species_name
0        0       setosa
1        0       setosa
2        0       setosa
3        0       setosa
4        0       setosa
5        0       setosa
6        0       setosa
7        0       setosa
8        0       setosa
9        0       setosa

Class distribution:
species_name
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

### Loading a Regression Dataset

The California Housing dataset is used for regression tasks, where the target is a continuous value (median house price).

In [67]:
import pandas as pd
import numpy as np
from sklearn.utils import Bunch

# Load from GitHub
url = "https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.csv"
housing_df = pd.read_csv(url)

# Convert to sklearn Bunch format to match fetch_california_housing() structure
data = housing_df.drop('median_house_value', axis=1).select_dtypes(include=[np.number]).values
target = housing_df['median_house_value'].values / 100000.0  # Convert to $100,000s
feature_names = housing_df.drop('median_house_value', axis=1).select_dtypes(include=[np.number]).columns.tolist()

housing = Bunch(
    data=data,
    target=target,
    feature_names=feature_names,
    DESCR="California Housing Dataset"
)

print(f"Housing dataset shape: {housing.data.shape}")
print(f"Feature names: {housing.feature_names}")
print(f"Target: Median house value (in $100,000s)")
print(f"Target range: {housing.target.min():.2f} to {housing.target.max():.2f}")

Housing dataset shape: (20640, 8)
Feature names: ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income']
Target: Median house value (in $100,000s)
Target range: 0.15 to 5.00

## 4.3 Train-Test Split

We split data into training and testing sets to evaluate model performance on unseen data. This helps detect overfitting (when a model memorizes training data but fails on new data).

Key parameters:
- `test_size`: fraction of data for testing
- `random_state`: ensures reproducibility
- `stratify`: maintains class proportions in both sets

In [68]:
from sklearn.model_selection import train_test_split

X = iris.data
y = iris.target

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

print(f"Training set size: {X_train.shape[0]} samples")
print(f"Testing set size: {X_test.shape[0]} samples")
print(f"\nTraining features shape: {X_train.shape}")
print(f"Testing features shape: {X_test.shape}")

Training set size: 120 samples
Testing set size: 30 samples

Training features shape: (120, 4)
Testing features shape: (30, 4)

### Verifying Stratification

Stratification ensures that each class is proportionally represented in both training and test sets.

In [69]:
print("Class distribution in original data:")
print(pd.Series(y).value_counts(normalize=True))
print("\nClass distribution in training set:")
print(pd.Series(y_train).value_counts(normalize=True))
print("\nClass distribution in test set:")
print(pd.Series(y_test).value_counts(normalize=True))

Class distribution in original data:
0    0.333333
1    0.333333
2    0.333333
Name: proportion, dtype: float64

Class distribution in training set:
0    0.333333
2    0.333333
1    0.333333
Name: proportion, dtype: float64

Class distribution in test set:
0    0.333333
2    0.333333
1    0.333333
Name: proportion, dtype: float64

## 4.4 Data Preprocessing

Preprocessing transforms raw data into a format suitable for machine learning. Common steps include scaling features and encoding categorical variables.

### Feature Scaling with StandardScaler

StandardScaler transforms features to have mean=0 and standard deviation=1. This is important for many algorithms (SVM, KNN, Neural Networks). **Important**: Fit only on training data, then transform both sets to prevent data leakage.

In [70]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

print("Before scaling (first training sample):")
print(X_train[0])
print("\nAfter scaling (first training sample):")
print(X_train_scaled[0])

print(f"\nTraining data mean (should be ~0): {X_train_scaled.mean(axis=0)}")
print(f"Training data std (should be ~1): {X_train_scaled.std(axis=0)}")

Before scaling (first training sample):
[4.4 2.9 1.4 0.2]

After scaling (first training sample):
[-1.72156775 -0.33210111 -1.34572231 -1.32327558]

Training data mean (should be ~0): [-1.20829273e-15 -2.03679666e-15  4.99600361e-16  1.67458640e-15]
Training data std (should be ~1): [1. 1. 1. 1.]

### Other Useful Scalers

- **MinMaxScaler**: scales to a given range (default 0-1)
- **RobustScaler**: uses median and IQR, robust to outliers

In [71]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler

minmax = MinMaxScaler()
X_minmax = minmax.fit_transform(X_train)
print(f"MinMaxScaler - Min: {X_minmax.min():.2f}, Max: {X_minmax.max():.2f}")

robust = RobustScaler()
X_robust = robust.fit_transform(X_train)
print(f"RobustScaler - Median (should be ~0): {np.median(X_robust, axis=0)}")

MinMaxScaler - Min: 0.00, Max: 1.00
RobustScaler - Median (should be ~0): [0. 0. 0. 0.]

### Encoding Categorical Variables

**LabelEncoder** converts categories to integers. Use for ordinal categories or target labels.

In [72]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

categories = ["low", "medium", "high", "medium", "low", "high"]
le = LabelEncoder()
encoded = le.fit_transform(categories)
print(f"Categories: {categories}")
print(f"Label encoded: {encoded}")
print(f"Classes: {le.classes_}")

Categories: ['low', 'medium', 'high', 'medium', 'low', 'high']
Label encoded: [1 2 0 2 1 0]
Classes: ['high' 'low' 'medium']

**OneHotEncoder** creates binary columns for each category. Preferred for nominal (unordered) categories where there's no inherent ordering.

In [73]:
from sklearn.preprocessing import OneHotEncoder

categories_2d = np.array(categories).reshape(-1, 1)
ohe = OneHotEncoder(sparse_output=False)
one_hot = ohe.fit_transform(categories_2d)

print(f"Categories: {categories}")
print(f"One-hot encoded:\n{one_hot}")
print(f"Feature names: {ohe.get_feature_names_out()}")

Categories: ['low', 'medium', 'high', 'medium', 'low', 'high']
One-hot encoded:
[[0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]]
Feature names: ['x0_high' 'x0_low' 'x0_medium']

## 4.5 Building and Training Models

Scikit-learn provides a consistent API for all models:
- `fit(X, y)`: Train the model on data
- `predict(X)`: Make predictions
- `score(X, y)`: Evaluate the model

### K-Nearest Neighbors (KNN)

KNN classifies a sample based on the majority class of its k nearest neighbors in the feature space.

In [75]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train_scaled, y_train)
y_pred_knn = knn.predict(X_test_scaled)

print("K-Nearest Neighbors Results:")
print(f"First 10 predictions: {y_pred_knn[:10]}")
print(f"First 10 actual values: {y_test[:10]}")

K-Nearest Neighbors Results:
First 10 predictions: [0 2 1 1 0 1 0 0 2 1]
First 10 actual values: [0 2 1 1 0 1 0 0 2 1]

### Decision Tree Classifier

Decision trees make decisions based on feature thresholds. The `max_depth` parameter limits tree complexity to prevent overfitting. Decision trees don't require feature scaling.

In [76]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(max_depth=3, random_state=42)
dt.fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)
print("Decision Tree trained successfully")

importance = pd.DataFrame({
    "feature": iris.feature_names,
    "importance": dt.feature_importances_
}).sort_values("importance", ascending=False)
print("\nFeature Importance:")
print(importance)

Decision Tree trained successfully

Feature Importance:
             feature  importance
2  petal length (cm)    0.579077
3   petal width (cm)    0.420923
1   sepal width (cm)    0.000000
0  sepal length (cm)    0.000000

### Logistic Regression

Despite its name, logistic regression is used for classification. It can also output class probabilities, not just predictions.

In [77]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter=200, random_state=42)
lr.fit(X_train_scaled, y_train)
y_pred_lr = lr.predict(X_test_scaled)

y_proba = lr.predict_proba(X_test_scaled)
print("Logistic Regression - First 5 probability predictions:")
print(f"Class probabilities shape: {y_proba.shape}")
print(pd.DataFrame(y_proba[:5], columns=iris.target_names).round(3))

Logistic Regression - First 5 probability predictions:
Class probabilities shape: (30, 3)
   setosa  versicolor  virginica
0   0.979       0.021      0.000
1   0.004       0.369      0.627
2   0.149       0.842      0.009
3   0.095       0.895      0.010
4   0.988       0.012      0.000

### Linear Regression (for Continuous Targets)

Linear regression predicts continuous values and is used for regression tasks, not classification.

In [78]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
import numpy as np

X_house = housing.data
y_house = housing.target

# Remove rows with NaN in target
valid_indices = ~np.isnan(y_house)
X_house = X_house[valid_indices]
y_house = y_house[valid_indices]

X_train_h, X_test_h, y_train_h, y_test_h = train_test_split(
    X_house, y_house, test_size=0.2, random_state=42
)

# Handle missing values in features with median imputation
imputer = SimpleImputer(strategy='median')
X_train_h_imputed = imputer.fit_transform(X_train_h)
X_test_h_imputed = imputer.transform(X_test_h)

# Scale the data
scaler_h = StandardScaler()
X_train_h_scaled = scaler_h.fit_transform(X_train_h_imputed)
X_test_h_scaled = scaler_h.transform(X_test_h_imputed)

lin_reg = LinearRegression()
lin_reg.fit(X_train_h_scaled, y_train_h)

y_pred_house = lin_reg.predict(X_test_h_scaled)
print("Linear Regression - Housing price predictions:")
print(f"First 5 predictions: {y_pred_house[:5].round(2)}")
print(f"First 5 actual values: {y_test_h[:5].round(2)}")

Linear Regression - Housing price predictions:
First 5 predictions: [0.64 1.55 2.53 2.64 2.67]
First 5 actual values: [0.48 0.46 5.   2.19 2.78]

## 4.6 Model Evaluation

Proper evaluation is crucial to understand how well your model performs.

### Classification Metrics

Accuracy is the proportion of correct predictions, but it may not be sufficient for imbalanced datasets.

In [79]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report, confusion_matrix

print("Model Accuracy Comparison:")
print(f"KNN: {accuracy_score(y_test, y_pred_knn):.4f}")
print(f"Decision Tree: {accuracy_score(y_test, y_pred_dt):.4f}")
print(f"Logistic Regression: {accuracy_score(y_test, y_pred_lr):.4f}")

Model Accuracy Comparison:
KNN: 0.9333
Decision Tree: 0.9667
Logistic Regression: 0.9333

### Classification Report

The classification report includes precision, recall, and F1-score for each class, providing a more complete picture of model performance.

In [80]:
print("Classification Report for Logistic Regression:")
print(classification_report(y_test, y_pred_lr, target_names=iris.target_names))

Classification Report for Logistic Regression:
              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        10
  versicolor       0.90      0.90      0.90        10
   virginica       0.90      0.90      0.90        10

    accuracy                           0.93        30
   macro avg       0.93      0.93      0.93        30
weighted avg       0.93      0.93      0.93        30

### Confusion Matrix

The confusion matrix shows correct and incorrect predictions for each class. Rows represent actual classes, columns represent predicted classes.

In [81]:
cm = confusion_matrix(y_test, y_pred_lr)
print("Confusion Matrix:")
print(pd.DataFrame(cm,
                   index=[f"Actual: {name}" for name in iris.target_names],
                   columns=[f"Pred: {name}" for name in iris.target_names]))

Confusion Matrix:
                    Pred: setosa  Pred: versicolor  Pred: virginica
Actual: setosa                10                 0                0
Actual: versicolor             0                 9                1
Actual: virginica              0                 1                9

### Regression Metrics

For regression tasks, common metrics include:
- **MSE (Mean Squared Error)**: average of squared differences
- **RMSE (Root MSE)**: same units as target
- **MAE (Mean Absolute Error)**: average of absolute differences
- **R-squared**: proportion of variance explained (1.0 = perfect)

In [82]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

print("Regression Metrics for Housing Price Prediction:")

mse = mean_squared_error(y_test_h, y_pred_house)
print(f"Mean Squared Error: {mse:.4f}")

rmse = np.sqrt(mse)
print(f"Root Mean Squared Error: {rmse:.4f}")

mae = mean_absolute_error(y_test_h, y_pred_house)
print(f"Mean Absolute Error: {mae:.4f}")

r2 = r2_score(y_test_h, y_pred_house)
print(f"R-squared: {r2:.4f}")

Regression Metrics for Housing Price Prediction:
Mean Squared Error: 0.5060
Root Mean Squared Error: 0.7113
Mean Absolute Error: 0.5181
R-squared: 0.6139

### Cross-Validation

Cross-validation provides more robust evaluation by testing the model on multiple train-test splits. In k-fold cross-validation, data is split into k folds, and the model is trained and tested k times.

In [83]:
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(lr, X_train_scaled, y_train, cv=5)

print("5-Fold Cross-Validation Results:")
print(f"Scores: {cv_scores}")
print(f"Mean accuracy: {cv_scores.mean():.4f}")
print(f"Standard deviation: {cv_scores.std():.4f}")

5-Fold Cross-Validation Results:
Scores: [0.91666667 0.95833333 0.95833333 0.95833333 1.        ]
Mean accuracy: 0.9583
Standard deviation: 0.0264

## 4.7 Putting It All Together: A Complete Pipeline

Scikit-learn pipelines chain preprocessing and modeling steps together. Each step is a (name, transformer/estimator) tuple. The pipeline handles scaling and prediction automatically.

In [84]:
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC

pipeline = Pipeline([
    ("scaler", StandardScaler()),
    ("classifier", SVC(kernel="rbf"))
])

pipeline.fit(X_train, y_train)
y_pred_pipeline = pipeline.predict(X_test)

print("Pipeline Results:")
print(f"Accuracy: {accuracy_score(y_test, y_pred_pipeline):.4f}")

Pipeline Results:
Accuracy: 0.9667

### Hyperparameter Tuning with GridSearchCV

GridSearchCV automatically searches for the best hyperparameters by trying all combinations from a parameter grid and evaluating with cross-validation.

In [85]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    "classifier__C": [0.1, 1, 10],
    "classifier__kernel": ["linear", "rbf"]
}

grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring="accuracy")
grid_search.fit(X_train, y_train)

print("Grid Search Results:")
print(f"Best parameters: {grid_search.best_params_}")
print(f"Best cross-validation score: {grid_search.best_score_:.4f}")

best_model = grid_search.best_estimator_
test_accuracy = accuracy_score(y_test, best_model.predict(X_test))
print(f"Test set accuracy: {test_accuracy:.4f}")

Grid Search Results:
Best parameters: {'classifier__C': 0.1, 'classifier__kernel': 'linear'}
Best cross-validation score: 0.9750
Test set accuracy: 0.9333

## Exercise 4: Scikit-learn

Complete the following tasks to practice the machine learning workflow.

**Task 4.1:** Using the Wine dataset (load with `from sklearn.datasets import load_wine`), perform the following:
1. Load the dataset and explore its structure
2. Split into training (75%) and testing (25%) sets
3. Train a Random Forest classifier (`from sklearn.ensemble import RandomForestClassifier`)
4. Evaluate the model using accuracy and a classification report
5. Identify the top 3 most important features

In [86]:
from sklearn.datasets import load_wine
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import pandas as pd
import numpy as np

# 1. Load dataset and explore structure
wine = load_wine()

X = pd.DataFrame(wine.data, columns=wine.feature_names)
y = pd.Series(wine.target)

print("Dataset shape:", X.shape)
print("Feature names:", wine.feature_names)
print("Target classes:", wine.target_names)
print("\nFirst 5 rows:")
print(X.head())

# 2. Train-test split (75% train, 25% test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.25,
    random_state=42,
    stratify=y
)

# 3. Train Random Forest classifier
rf = RandomForestClassifier(random_state=42)
rf.fit(X_train, y_train)

# 4. Evaluate model
y_pred = rf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("\nAccuracy:", accuracy)

print("\nClassification Report:")
print(classification_report(y_test, y_pred))

# 5. Top 3 most important features
importances = rf.feature_importances_
indices = np.argsort(importances)[::-1]

top_3 = X.columns[indices[:3]]

print("\nTop 3 Most Important Features:")
for i in range(3):
    print(f"{i+1}. {X.columns[indices[i]]} ({importances[indices[i]]:.4f})")

Dataset shape: (178, 13)
Feature names: ['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']
Target classes: ['class_0' 'class_1' 'class_2']

First 5 rows:
   alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
0    14.23        1.71  2.43               15.6      127.0           2.80
1    13.20        1.78  2.14               11.2      100.0           2.65
2    13.16        2.36  2.67               18.6      101.0           2.80
3    14.37        1.95  2.50               16.8      113.0           3.85
4    13.24        2.59  2.87               21.0      118.0           2.80

   flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
0        3.06                  0.28             2.29             5.64  1.04
1        2.76                  0.26             1.28             4.38  1.05
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86
4        2.69                  0.39             1.82             4.32  1.04

   od280/od315_of_diluted_wines  proline
0                          3.92   1065.0
1                          3.40   1050.0
2                          3.17   1185.0
3                          3.45   1480.0
4                          2.93    735.0

Accuracy: 1.0

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       1.00      1.00      1.00        18
           2       1.00      1.00      1.00        12

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45


Top 3 Most Important Features:
1. color_intensity (0.1764)
2. flavanoids (0.1741)
3. alcohol (0.1378)

**Task 4.2:** Create a pipeline that:
1. Scales the data using StandardScaler
2. Uses a KNeighborsClassifier
3. Use GridSearchCV to find the optimal number of neighbors (try 3, 5, 7, 9, 11)
4. Report the best parameter and the test set accuracy

In [87]:
from sklearn.datasets import load_wine
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score

# Load dataset
wine = load_wine()
X = wine.data
y = wine.target

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.25,
    random_state=42,
    stratify=y
)

# Define model
rf = RandomForestClassifier(random_state=42)

# Hyperparameter grid
param_grid = {
    "n_estimators": [50, 100, 200],
    "max_depth": [None, 5, 10],
    "min_samples_split": [2, 5]
}

# Grid Search
grid_search = GridSearchCV(
    rf,
    param_grid,
    cv=5,
    scoring="accuracy",
    n_jobs=-1
)

grid_search.fit(X_train, y_train)

# Best parameters
best_params = grid_search.best_params_
print("Best Parameters:", best_params)

# Evaluate on test set
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)

test_accuracy = accuracy_score(y_test, y_pred)
print("Test Set Accuracy:", test_accuracy)

Best Parameters: {'max_depth': None, 'min_samples_split': 2, 'n_estimators': 100}
Test Set Accuracy: 1.0

---
# Summary
---

In this lab, you have learned:

**Python Fundamentals:**
- Variables, data types, and container types (lists, dictionaries, sets, tuples)
- Control flow with conditionals and loops
- Functions, lambda expressions, and list comprehensions
- String manipulation

**NumPy:**
- Creating and manipulating arrays
- Element-wise and matrix operations
- Indexing, slicing, and boolean filtering
- Statistical functions and operations along axes
- Reshaping and broadcasting

**Pandas:**
- Series and DataFrames
- Reading and writing data files
- Data selection with loc, iloc, and boolean indexing
- Data manipulation: adding columns, sorting, grouping
- Handling missing data

**Scikit-learn:**
- The machine learning workflow
- Loading datasets and train-test splitting
- Data preprocessing (scaling, encoding)
- Training classification and regression models
- Model evaluation metrics
- Pipelines and hyperparameter tuning

These skills form the foundation for more advanced data science and machine learning work. Practice applying them to different datasets and problems to strengthen your understanding.

---
# Additional Resources
---

- Python Documentation: https://docs.python.org/3/
- NumPy Documentation: https://numpy.org/doc/
- Pandas Documentation: https://pandas.pydata.org/docs/
- Scikit-learn Documentation: https://scikit-learn.org/stable/documentation.html
- Scikit-learn User Guide: https://scikit-learn.org/stable/user_guide.html